* {
  margin: 0;
  padding: 0;
}
#circle1 {
  animation: move 8s infinite;
  box-shadow: 5px 5px 100px orange;
}
#circle2 {
  animation: move2 8s infinite;
  box-shadow: 5px 5px 100px #3b82f6;
}
@keyframes move {
  50% {
    left: 80vh;
    scale: 1.1;
  }
}
@keyframes move2 {
  50% {
    left: 115vh;
    scale: 1.1;
  }
}
